@import url(reset.css);

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: url(../images/intro.jfif)center ;
    background-size: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 4rem;
}

.login__header {
    text-align: center;
    margin-bottom: 3rem;
}

.login__header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.login__header h1 {
    color: #fff;
    text-shadow: 4px 4px #000, 6px 6px #ccc;
    margin-top: 1rem;
}

.login__input {
    border: 2px solid #000;
    padding: .7rem;
    border-radius: 8px;
    color: #e08256;
    outline-color: #b86c48;
    font-size: 1rem;
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
}

.login__button {
    width: 100%;
    padding: .7rem;
    max-width: 350px;
    border-radius: 8px;
    background-color: #bd714d;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.login__button:disabled{
    background-color: #c2c2c2;
    cursor: auto;
}