@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Press+Start+2P&family=Satisfy&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    
}